:root {
  --navy-blue: #00305f;
  --white: #ffffff;
  --navy-blue-hover: #044789;
  --tab-background: #0561b7;
  --light-green: rgb(28 200 138);
}

.bg-gradient-primary {
  background-color: var(--navy-blue) !important;
  background-image: none !important;
}

.nav-link {
  display: block;
  padding: 0.1rem 1rem;
}

.nav-history .nav-link {
  padding: 0.1rem 0.2rem !important;
}

.nav-history .col {
  padding-left: 0;
  padding-right: 0;
}

.v-error {
  color: #dc3545;
}

.v-border {
  border-color: #dc3545 !important;
}

.light-green {
  color: var(--light-green);
}

.profile-icon-area {
  padding-left: 20px;
  line-height: 1.2 !important;
  margin-right: 0.5rem !important;
}

.doctor-name,
.doctor-speciality,
.doctor-organization {
  display: block;
}

.doctor-name {
  color: #000000 !important;
  font-size: 15px !important;
}

.doctor-speciality {
  color: rgb(20, 158, 39) !important;
  font-size: 14px !important;
}

.doctor-organization {
  color: #0d6efd !important;
  font-size: 14px;
}

.img-profile {
  height: 2.5rem !important;
  width: 2.5rem !important;
}

.take-note,
.print-preview {
  padding-right: 10px;
  font-size: 14px;
}

.bcolor {
  color: #000000;
}

.right-side-pres {
  /* overflow: hidden;
    width: 800%;
    white-space: nowrap; */
  display: flex;
  align-items: center;
  justify-content: end;
  white-space: nowrap;
  margin-top: 5.313rem;
  padding-right: 2.5rem;
}

.right-side-pres>div:not(:last-child) {
  margin-right: 20px;
}

.search-field,
.search-btn {
  background: #fff !important;
}

.search-btn {
  border-left: 1px solid #1d1d1d;
}

.file-upload {
  font-size: 22px;
  padding-left: 15px;
}

.prescription-top-search {
  border-radius: 6px;
}

.chief-complain-item {
  position: relative;
}

/* .history-prescription-item {
  padding: 2px 6px;
  font-weight: bold;
  background-color: #f3f3f3;
  border-radius: 3px;
}

.prescription-item {
  padding: 2px 6px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.prescription-item:hover {
  background-color: #d7d7d7cf;
} */

.prescription-item {
  color: #000000;
  font-size: 16px;
}

.common-modal-header {
  background-color: #f8f8f8;
  height: 46px;
  align-items: center;
  color: #0561b7;
  font-family: 'HelveticaNeue';
}

.medicine-default .common-modal-header {
  height: 32px;
}

.common-modal-header .modal-title {
  font-weight: 600 !important;
}

.common-modal-header>button {
  padding: 0.01rem 0.7rem !important;
  border-radius: 5px !important;
  line-height: 0.7rem !important;
  font-size: 14px !important;
}

.common-modal-header .btn-sm {
  padding: 0.1rem 0.5rem !important;
}

.common-modal-header .btn-group {
  padding-left: 60%;
}

.custom-tab {
  background: #f1f8ff;
  border: 0.5px solid #0561b7;
  border-radius: 8px;
  margin: 10px 0;
  text-align: center;
}

.custom-tab .row .col:last-child {
  padding-right: 0 !important;
}

.search-field {
  padding-left: 35px;
  border: 1px solid #c0c0c0;
}

.custom-tab .row {
  display: contents;
}

.custom-tab .row .col {
  padding-left: 0;
}

.custom-tab a {
  color: #7a7777;
}

.custom-tab .active {
  color: #fff !important;
}

.custom-tab .fa-save {
  color: #4e73df;
  padding-top: 5px;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 25px;
}

.css-b62m3t-container {
  font-size: 15px !important;
}

.all-chief-complain {
  font-weight: 500;
  color: #fff;
  background-color: #0061b4;
}

.add-scroll {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.unit-btn {
  display: flex;
}

.complains-area .chief-complain-item {
  padding: 2px 8px;
  margin: 3px;
  /* color: #677987; */
  /* border-color: #D9D9D9; */
  /* background-color: #fafafa; */
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  font-size: 15px;
}

/* .is-selected {
  color: #00305f !important;
} */
.is-selected {
  color: #000000 !important;
  border-color: #9f9f9f !important;
  background-color: #deefff !important;
  border: 1px solid #0561b7 !important;
  /* font-family: "Roboto";
  font-weight: 400; */
}

.appointment-btn-group .btn-sm {
  padding: 0.01rem 1rem !important;
  border-radius: 8px;
}

.appointment-btn-group {
  float: right !important;
}

.appointmentForm {
  background: #fff;
  padding: 25px;
}

.all-chief-complain {
  font-weight: 500;
  color: #fff;
  background-color: #0061b4;
}

.selected-complain {
  background-color: #f0f8ff;
  color: #000000;
}

.selected {
  background: #c4cadd !important;
}



.btn-sm-customize {
  line-height: 1rem !important;
}

.customize-btn {
  padding: 0.1rem 0.4rem !important;
  line-height: 1.5 !important;
}

.complain-remove-btn {
  position: absolute;
  right: -3px;
  top: -10px;
  font-size: 13px;
  color: #0061b4;
  cursor: pointer;
  display: none;
}

.complain-remove-btn-hover {
  position: absolute;
  right: -3px;
  top: -10px;
  font-size: 13px;
  color: #0061b4;
  cursor: pointer;
  display: block;
}

.sub-child-list {
  width: 100%;
  font-size: 15px;
  padding-left: 24px;
}

.medicine-schedule-parent {
  /* margin-top: 5px; */
  cursor: pointer;
  /* padding: 2px 5px; */
}

.medicine-schedule-parent .medicine-schedule {
  width: 35%;
  display: inline-block;
}

.medicine-schedule-parent .medicine-instruction {
  width: 50%;
  display: inline-block;
}

.medicine-schedule-parent .medicine-duration {
  width: 15%;
  display: inline-block;
}

.header-no-print {
  margin: 15px 18px 0px 18px;
}

.rx-sub-child {
  padding-left: 18px !important;
}

.label-custom {
  margin-bottom: 0 !important;
  padding-left: 2px;
  font-size: 16px;
}

.print-card-body {
  margin: 0 auto;
  display: none;
}

.css-1t8y0t9-control,
.css-1vp9nu5-control,
.select-type {
  border-radius: 8px !important;
  padding-left: 30px;
}

.css-1t8y0t9-control {
  border: 1px solid #c0c0c0 !important;
  /* height: 32px !important; */
}

.od-os {
  margin: 0 auto;
  width: 150px;
  height: 130px;
  text-align: center;
  position: relative;
}

.angle-evaluation {
  margin: 0 auto;
  width: 268px;
  height: 167px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid #000000; */
}

.view-angle-evaluation {
  width: 100px !important;
  height: 100px !important;
  /* border: 1px solid #000000; */
  font-size: 13px;
}

.angle-ev-btn {
  position: absolute;
  padding: 1px 7px;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  color: rgba(0, 0, 0, 0.85);
}

.view-angle-evaluation span {
  position: absolute;
}

.common-btn .btn-sm-customize:hover {
  color: #858796 !important;
}

.angle-evaluation .first {
  top: 25px;
}

.angle-evaluation .second {
  top: 98px;
  right: 0px;
}

.angle-evaluation .third {
  bottom: 28px;
}

.angle-evaluation .fourth {
  top: 98px;
  left: -27px;
}

.common-btn {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0px auto;
  box-shadow: 0px 5.0052px 12.513px rgba(0, 0, 0, 0.05);
  background: #ffffff;
  position: absolute;
  z-index: 1;
  padding: 4px 5px;
  border-radius: 4px;
}

.common-btn .btn-sm {
  padding: 0.25rem 0.25rem !important;
  margin-right: 2px;
  background: #f4faff;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  font-size: 12px;
}

.normal-card-body {
  display: block;
}

.prescription-body-print,
.patient-section-print {
  color: #000000 !important;
}

.show-in-print {
  display: none !important;
}

.btn-icon-split .icon {
  padding: 0.225rem 0.75rem !important;
}

.disabled-link {
  pointer-events: none;
  color: #858796 !important;
}

.sidebar {
  width: 8.5rem !important;
}

.sidebar.toggled .nav-item .nav-link {
  width: 2.5rem !important;
  padding: 1rem;
}

.sidebar #sidebarToggle {
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
  margin-left: 10px;
}

.sidebar.toggled {
  width: 3.5rem !important;
}

.navbar-toggler {
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  padding: 1rem;
  z-index: 200;
  text-align: right;
}

.submenu-organization {
  width: 14rem;
  margin-left: 3rem;
  height: auto;
}

.submenu-org-item {
  cursor: pointer;
  overflow: hidden;
}

.submenu-org-item:hover {
  color: #4e73df;
}

.topbar .dropdown .dropdown-menu {
  width: 17rem;
}

.hideOrgSubMenu {
  display: none;
  height: 0rem;
  transition: display 1s;
}

.submenu-arrow {
  margin-left: 50%;
}

.accordion>.accordion-item {
  border-left-width: 0px;
  border-right-width: 0px;
}

.accordion>.accordion-item:last-child {
  border-bottom-width: 0px;
}

.accordion>.accordion-item:last-child {
  border-bottom-width: 0px;
  margin-bottom: 0 !important;
}

textarea:hover,
input[type="text"]:hover,
textarea:active,
input[type="text"]:active,
textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
button:focus,
button:active,
button:hover,
/* label:focus, */
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.nav-profile-menu-area {
  width: auto;
}

.multi-range-slider {
  border: none !important;
  border-radius: none !important;
  padding: 0px !important;
  box-shadow: none !important;
}

.multi-range-slider .bar-inner {
  background-color: #f0f0f0 !important;
  border: none !important;
}

.accordion-header button {
  border: 1px solid lightgrey;
  padding: 10px 5px;
  width: 100%;
  border-left: none;
  border-right: none;
  color: black;
  opacity: 0.7;
}

/* .item-row {
  margin-bottom: -10px !important;
} */

.patient-section-print {
  display: none;
  align-items: center;
}

.visually-hidden {
  display: none;
}

/* patient history */
.add-new-rx {
  height: 45px;
  border: 1px solid #1d1d1d;
  border-radius: 6px;
  text-align: center;
  padding-top: 10px;
}

.patient-history-profile-img {
  height: 4.5rem !important;
  width: 4.5rem !important;
}

.range-slier {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* Chromium */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

.multi-range-slider {
  border: none !important;
  border-radius: none !important;
  padding: 0px !important;
  box-shadow: none !important;
}

.multi-range-slider .bar-inner {
  background-color: #f0f0f0 !important;
  border: none !important;
}

.accordion-header button {
  border: 1px solid lightgrey;
  padding: 10px 5px;
  width: 100%;
  border-left: none;
  border-right: none;
  color: black;
  opacity: 0.7;
}

.visually-hidden {
  display: none;
}

.button-area>button {
  width: 100%;
}

/* patient history */
.add-new-rx {
  height: 45px;
  border: 1px solid #1d1d1d;
  border-radius: 6px;
  text-align: center;
  padding-top: 10px;
}

.patient-history-profile-img {
  height: 4.5rem !important;
  width: 4.5rem !important;
}

.dotted-border {
  border-left: dotted;
  border-color: 1px solid #1d1d1d !important;
}

.prescription-number-circle {
  position: absolute;
  text-align: center;
  width: 39px;
  height: 39px;
  border: 1px solid #1d1d1d;
  border-radius: 50%;
  left: -20px;
  background: #ffffff !important;
  opacity: 1;
}

.prescription-number-circle div {
  padding-top: 6px;
}

.accordion-collapse {
  padding-left: 25px;
}

.summary-box>.col {
  width: 120px;
  margin: 6px;
  padding: 3px;
  background-color: #f3f3f3;
  text-align: center;
}

.prescription-body-left {
  border-right: 1px solid #d9d9d9;
}

.hr-row {
  border: 1px solid #d9d9d9 !important;
}

.hr {
  margin-top: 0.3rem;
}

.custom-hr {
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
}

.application-history .accordion-button {
  background-color: #ffffff !important;
  border: 1px solid #e3e6ef !important;
}

.application-history .col {
  padding-left: 0 !important;
}

.accordion-header button {
  position: relative;
  text-align: left !important;
  padding: 5px 0 9px 30px;
  opacity: 1 !important;
}

.patient-history {
  background: #f5f5f5 !important;
}

.patient-history .patient-details {
  background-clip: border-box;
  background-color: #ffffff;
}

.patient-history .patient-detail-history {
  margin-left: 38px;
}

.patient-detail-history {
  background-color: #ffffff;
}

.prescription-body {
  width: 100%;
  background-color: #ffffff;
}

.accordion-title-text {
  font-size: 15px !important;
  font-weight: 500 !important;
}

.right-edit-icon {
  padding-left: 70%;
}

.create-template-btn {
  padding-left: 0.5rem !important;
  cursor: pointer;
  color: #4e73df;
}

/* added by jakir */
.vertical-slider {
  height: 400px;
  width: 8px;
  background-color: lightgrey;
  box-shadow: inset 0px 0px 5px black;
  border-radius: 5px;
  margin-left: 50px;
}

.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: white;
  border: 1px solid black;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
  width: 20px;
  height: 20px;
  /* height: 72%; */
  /* width: 7%; */
  /* background-color: lightgrey; */
  box-shadow: inset 0px 0px 3px black;
  border-radius: 50%;
  margin-left: -5px;
}

.example-track {
  position: relative;
  background: red;
}

.prescriptionItem {
  padding: 5px 10px;
}

.presetItemContainer {
  margin-top: 30px;
  padding-left: 20px;
}

.presetItem,
.presetItem:hover,
.presetItemSelected {
  font-size: medium;
  list-style: none;
  padding: 2px 15px;
}

.presetItem:hover,
.presetItemSelected {
  background-color: #e0e0e0;
}

.attachmentContainer {
  margin-left: 0.5rem;
}

.attachmentItemContainer {
  width: 10rem;
  height: auto;
  border: 1px solid lightgray;
  text-align: center;
  padding: 0.75rem 0.2rem;
  margin-right: 1.4rem;
  margin-bottom: 1.4rem;
}

.attachmentItemContainer .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  line-height: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.allCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container {
  width: 100%;
  height: 3.5rem;
  border: 1px solid lightgrey;
  margin: 0.5rem 0.5rem 0.75rem 0.5rem;
}

.setting-icon {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid lightgray;
  margin-top: 0.85rem;
  border-radius: 3px;
}

.single-patient-item {
  width: 180px;
  float: left;
  border: 1px solid lightgrey;
  padding: 5px 10px;
  margin-top: 9px;
  border-radius: 3px;
  margin-right: 5px;
}

.nav-tabs .nav-link {
  margin-right: 5px;
  padding: 6px 10px;
}

.whiteColor {
  background-color: white;
}

.blueColor {
  color: #00305f;
}

.nav-menu-icon {
  font-size: 18px !important;
  color: white !important;
}

.nav-menu-icon-active {
  font-size: 18px !important;
  color: #00305f !important;
}

/* .selected-medicine-item {
  background: #eeeeee;
  padding: 3px 5px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  margin-bottom: 5px !important;
}

.duration-with-unit {
  display: flex;
  justify-content: center;
  margin-right: 3px;
}

.selected-medicine-item .form-control-sm {
  height: calc(1.5em + 0.5rem);
  padding: 0.05rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 0.3rem;
  margin-right: 8px;
}

.selected-item-title {
  margin: 0px 5px 3px 4px;
  font-weight: bold;
} */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0561b7;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #d9d9d9;
}

*::-webkit-scrollbar-thumb {
  background-color: #0561b7;
  border-radius: 8px;
  border: 3px solid #0561b7;
}

.selected-item-row {
  display: flex;
  align-items: center;
  background: #eeeeee;
  padding: 1px 5px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  margin-top: 0.25rem !important;
  margin-left: 0px;
  margin-right: 8px;
}

.footer-area {
  position: fixed;
  padding: 10px 0px 0px 42px;
  bottom: 19px;
  margin-bottom: 40px;
  width: 96%;
  margin-left: 2.8rem;
  /* Height of the footer*/
  height: auto;
  /* background: #ffffff; */
}

.footer {
  margin-left: 10px;
  margin-right: 10px;
}

.sticky-footer {
  position: fixed;
  padding: 7px 0 !important;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  /* height: 40px; */
  background: grey;
}

/*---------------table css-------------*/
table,
caption,
tbody,
tfoot,
thead,
tr,
th {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 85%;
  vertical-align: baseline;
  background: transparent;
  line-height: 0.75rem;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 96%;
  vertical-align: baseline;
  background: transparent;
  line-height: 0.75rem;
}

.appointment-card-body {
  background-color: #f5f5f5;
}

.table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}

tr {
  border: 0px;
  background-color: white;
}

thead tr {
  border: 0px;
  border-radius: 8px;
  background-color: transparent;
}

td,
th {
  border-style: hidden !important;
}

tr td:first-child {
  border-top-left-radius: 10px;
}

tr td:last-child {
  border-top-right-radius: 10px;
}

tr td:first-child {
  border-bottom-left-radius: 10px;
}

tr td:last-child {
  border-bottom-right-radius: 10px;
}

.payment-success {
  color: green;
}

.payment-pending {
  color: #36b9cc;
}

.payment-unpaid {
  color: red;
}

.payment-cancelled {
  color: orange;
}

.selected-medicine-edit {
  margin: 0px auto;
  box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px,
    rgb(14 30 37 / 32%) 0px 2px 16px 0px;
  position: absolute;
  top: 61%;
  left: 15%;
  z-index: 1;
  width: 71%;
}

.prescript-item-hover:hover {
  background: #eeeeee;
  cursor: pointer;
}

.general-education {
  font-size: 15px;
}

.general-education .form-control-sm {
  font-size: 0.775rem !important;
  margin-top: 5px;
}

.general-education .btn {
  font-size: 12px !important;
}

.ocular-examination {
  font-size: 14px !important;
  padding-left: 14px !important;
  padding-top: 12px !important;
  color: #000;
}

.ocular-examination .row {
  margin-left: 0;
  margin-right: 0;
}

.pr-area {
  /* border: 1px solid; */
  height: 74px;
  width: 100px;
  text-align: center;
  position: relative;
}

.pr-area span {
  position: absolute;
}

.common-font-size {
  font-size: 14px !important;
}

.medicine-schedule-input-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 42px;
  padding: 0.2rem 0.2rem;
  font-size: 12px;
  line-height: 1rem !important;
}

.medicine-text {
  padding-right: 4px;
}

.navy-blue-color {
  background-color: var(--navy-blue);
}

.save-button,
.btn-primary {
  background-color: var(--tab-background);
  border-color: var(--tab-background);
}

.save-button:hover,
.btn-primary:hover {
  background-color: var(--navy-blue-hover);
  border-color: var(--navy-blue-hover);
}

.nav-pills .nav-link {
  cursor: pointer;
}

.nav-pills .nav-link.active {
  background-color: var(--tab-background);
  cursor: pointer;
}

.tab-content {
  background-color: #f5f5f5;
}

.medicine-type {
  display: block;
  text-align: right;
  line-height: 12px;
  font-size: 10px;
  color: var(--navy-blue);
}

.medicine-name {
  display: block;
  font-weight: bold;
  line-height: 12px;
}

.medicine-company {
  font-size: 10px;
  line-height: 10px;
  color: var(--navy-blue);
}

.common-small-btn>button {
  margin: 0.25rem 0.5rem 0.25rem 0 !important;
  padding: 0.1rem 0.4rem !important;
  line-height: 1.5 !important;
  min-width: 42px;
}

.patient-info-btn-group {
  float: right !important;
}

.patient-info-btn-group>button {
  padding: 0.01rem 0.7rem !important;
  border-radius: 5px !important;
  line-height: 0.9rem !important;
  font-size: 11px !important;
}

.patient-info-pills {
  background: #ffffff;
  padding: 5px 2px;
  margin-left: 12px;
  margin-right: 12px;
}

.patient-info {
  background: #fff;
  padding: 10px 17px;
}

.sticky-header {
  position: fixed;
  width: 100%;
  z-index: 1033;
}

.normal-hide {
  display: none;
}

.header-sticky-second {
  margin-top: 70px;
  background-color: rgb(228 229 232);
  height: 50px;
  width: 100%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid rgb(231, 231, 231);
  z-index: 555;
}

.print-card-body .row {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  padding: 0;
}

.rx-body {
  margin-top: 7.475rem;
  margin-left: 2.813rem;
  min-height: 84vh;
}

.card-content {
  margin-top: 6rem;
  margin-left: 3.5rem;
  min-height: 84vh;
}

#accordionSidebar {
  position: fixed;
  margin-top: 0px;
  transition: all 0.3s ease-in-out 0s;
  z-index: 1055;
}

.main-logo {
  color: rgb(13, 110, 253);
  margin-left: 4.375rem;
}

.table td,
.table th {
  padding: 0.6rem;
}

.table td,
.table th {
  vertical-align: middle;
}

.overlay-custom-class-name {
  z-index: 9999 !important;
  background: rgb(30 30 30 / 16%) !important;
}

.react-confirm-alert-overlay {
  align-items: start !important;
}

.react-confirm-alert-body {
  padding: 10px 20px !important;
  margin-top: 32px !important;
}

.modal-scroll {
  max-height: 500px;
  overflow: scroll;
}

/* .ocular-examination .fa-times-circle {
  color: red;
}

.ocular-examination .fa-check-circle {
  color: #008000 !important;
}
*/
.fa-times-circle {
  color: #ff0000;
  cursor: pointer;
}

.cursor-pointer,
.fa-times,
.fa-times-circle {
  cursor: pointer;
}

.fa-check-circle {
  color: #008000 !important;
}

.customize-modal-size .modal-content {
  height: 575px !important;
  width: 800px !important;
}

.customize-modal-size .modal-body {
  padding-top: 11px !important;
}

.modal-body {
  color: #000000 !important;
}

.eye-glass-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-glass-bottom div {
  padding-right: 8px !important;
}

.eye-glass-title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.eye-glass-title span:first-child {
  color: #0561b7;
}

.r-va-btn {
  top: 41px;
  right: 0;
}

.l-va-btn {
  top: 95px;
  right: 0;
}

.glass-table table,
.glass-table th,
.glass-table td {
  border: 1px solid black !important;
  border-collapse: collapse !important;
  color: #000000 !important;
  background: #f8f8f8;
  text-align: center;
}

.glass-slider-area {
  position: absolute;
  z-index: 1;
  height: 65px;
  width: 70%;
  top: 80px;
  padding: 20px 25px;
  border-radius: 6px;
  background: #ffffff;
  border: 0.5px solid #d9cece;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.serum-slider {
  position: static !important;
  padding: 12px 15px 0 10px;
  width: 100%;
}

.view-eye-glass {
  width: 100%;
  font-size: 15px;
  padding-left: 7px;
  position: relative;
}

.view-eye-glass .table {
  width: 80% !important;
  margin-bottom: 0.4rem;
}

.eyeglass-del-icon {
  position: absolute;
  right: 0;
  top: 45px;
}

.view-eye-glass span {
  font-style: italic;
}

.rcyl {
  right: 110px;
}

.raxis {
  right: 10px;
}

.lsph {
  top: 131px !important;
}

.lcyl {
  top: 131px !important;
  right: 110px;
}

.laxis {
  top: 131px !important;
  right: 10px;
}

.add-slider {
  top: 41px !important;
}

.tox-notifications-container {
  display: none !important;
}

span.background-hiphen {
  display: inline-block;
  background-image: url('../img/hiphen.png');
  background-repeat: repeat-x;
  background-position-y: center;
}

span.background-dash {
  display: inline-block;
  background-image: url('../img/dash.png');
  background-repeat: repeat-x;
  background-position-y: center;
}

span.background-dot {
  display: inline-block;
  background-image: url('../img/dot.png');
  background-repeat: repeat-x;
  background-position-y: center;
}

span.rx-width {
  width: 300px;
}

span.rx-white {
  background-color: white;
}

.bottom-border {
  border-bottom: 1px solid darkgrey;
  width: 90%;
}

.rx-left-space {
  margin-left: 3.5rem !important;
}

.bold {
  font-weight: bold;
}

.dark {
  color: black;
}

.grey {
  color: grey;
}

.sub-child-list ul li {
  list-style-type: disc;
}

.advice-title {
  font-weight: bold;
}

.advice-item {
  margin-left: 2rem;
}

ol.reset {
  counter-reset: item 0;
}

/* .advice-item-sub {
  margin-left: 3rem;
} */